.grid {
    border: 1px solid black;
    background-color: white;
    height: 1280px;
    width: 1280px;
    display: flex;
    flex-wrap: wrap;
}

.square {
    border: 0.5px solid black;
    height: 159px;
    width: 159px;
    background-color: white;
}

.erows:nth-child(even) {
    background-color: black;
    opacity: 0.75;
}

.orows:nth-child(odd) {
    background-color: black;
    opacity: 0.75;
}


canvas {
    border: black 1px solid;
}